@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap');


$black: #363839;
$lightgray: #9c9e9f;
$gray: #bdc1c6;
$white: #fff;
$green: #06842c;


* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  background-color: #002b36;
}

.main-app-page {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  padding: 4px 50px;
  padding-bottom: 150px;
  color: white;
  background-color: #073642;

  header {
    max-width: 70%;
  }

  aside {
    max-width: 70%;
  }

  h1 {
    margin: 20px;
    color: #b3a1a1;
  }
}

.container{
  max-width: 1000px;
}

.create-task-form {
  //border: 1px solid white;
  padding: 10px 30px;
  
  .form-group {
    display: flex;
    flex-grow: 1;
    margin-right: auto;

    input {
      margin: 10px;
    }
  }

  .button-group {
    margin-left: auto;    

    button {
      margin: 10px;
    }

    .btn-success {
      margin-left: auto;
    }
  }
}

.posts-wrapper {
  margin-top: 20px;
  
  .spinner-border {
    margin-left: 46%;
    padding: 30px;
    margin-top: 100px;
    font-size: 2em;
  }
}


.feed-post {
  height: 45px;
  margin: 6px 10px;
  padding: 6px 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  align-items: center;
  justify-content: left;
  color: #b3a1a1;
  background-color: #185251;

  &:hover {
    background-color: #2d7d66;

    .task-title {
      color: #fff;
      label {
        color: #fff;
      }
    }

    .task-buttons {
      visibility: visible;
    }
  }

  .task-title {
    height: 100%;

    .outer-div {
      margin-top: -2px;
    }

    .task-title-label {
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      text-align: center;
      align-items: center;
      vertical-align: center;
      margin-top: 5px;
      margin-left: 15px;
      margin-right: 20px;
      position: relative;
      cursor: pointer;
      font-size: 1em;
      padding: 0 0.25em 0;
      user-select: none;

      &:hover {
        font-weight: bold;
        cursor: pointer;
      }

      &::before {
        position: absolute;
        content: attr(data-content);
        color: $lightgray;
        clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
        text-decoration: line-through;
        text-decoration-thickness: 3px;
        text-decoration-color: #b3a1a1;
        transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }
    }

    .task-title-input {
      vertical-align: center;
      top: 6px;
      position: relative;
      width: 1.5em;
      height: 1.5em;
      color: $black;
      border: 1px solid $gray;
      appearance: none;
      outline: 0;
      cursor: pointer;
      transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);

      &::before {
        position: absolute;
        content: '';
        display: block;
        top: 2px;
        left: 7px;
        width: 8px;
        height: 14px;
        border-style: solid;
        border-color: $white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
      }

      &:checked {
        color: $white;
        border-color: $green;
        background: $green;

        &::before {
          opacity: 1;
        }
        ~ label::before {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
      }
    }

    .task-title-edit{
      width: 500px;
      position: relative;
      vertical-align: center;
      margin-left: 17px;
      background: transparent;
      border: 1px solid white;
      color: white;
    }

    .task-title-edit-2 {
      width: 80px;
      margin-left: 20px;
      background: transparent;
      color: white;
      border: 1px solid white;
    }

    .strike {
      text-decoration: line-through;
    }

    .bold {
      font-weight: bold;
    }

    .has-error {
      color: red;
      background-color: yellow;
    }
  }

  .task-done {
    margin-left: 20px;
  }

  .timestamp {
    margin-right: 15px; 
  }

  .task-buttons {
    margin-left: auto;
    visibility: hidden;

    .task-icon {
      font-size: 2em;
      padding: 3px 0;
      color: #aaaaaa;
      transition: color 0.1s ease-in;

      &:hover {
        font-size: 2em;
        padding: 1px 0;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}



.form-auth{
  max-width: 330px;
  padding: 5px;
  margin: 0 auto;
}

.aclr_class img {
  width: 100%;
  height: 100%;
}

.aclr_class ul {
  list-style-type: none;
  padding: 0;
  margin: 40px 0 0;
}

.aclr_class li {
  display: inline-block;
  width: 100%;
  padding: 22px 0;
  margin: 0;
  border-top: 1px solid #D5DDE4;
}

.aclr_class a, a.visited{
  color: #5FB6E1;
  text-decoration: none;
}

.aclr_class span {
  color: #2C3238;
}


.myBody {
  background: #FFFFFF;
  text-align: center;
  margin: 100px auto;
  max-width: 800px;
  padding: 0 40px;
  font: 18px normal;
}

#searchIcon, #avatar {
  width: 50%;
  border-radius: 50%;
  margin: 0 25% 0 25%;
}

#username {
  margin: 10px 0 0;
}

.button {
  border-color: #5FB6E1;
  background: #5FB6E1;
  color: #fff;
}

#error {
  width: 100%;
  padding: 22px 0;
  background: #FFE6B2;
  color: #C5A14E;
  position: absolute;
  left: 0;
  top: 0;
}

#profile {
  background: #fff;
  border-radius: 4px;
  border: 1px solid #D5DDE4;
  padding: 40px 0 0;
  margin: -40px 0 0;
}

